html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  font-family: 'DM Sans', sans-serif; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.container {
  padding: 0 5em; }
  @media screen and (max-width: 400px) {
    .container {
      padding: 0 .5em;
      width: 100%; } }

.center {
  display: flex;
  justify-content: center;
  align-items: center; }

/** @format */
#header {
  padding: 10px 16px;
  color: #f1f1f1;
  flex-direction: column; }
  #header h2 {
    font-size: 36px;
    font-weight: 700;
    color: #D04F4F;
    font-family: DM Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: center; }

#search,
.search {
  position: relative; }
  #search input,
  .search input {
    width: 100%;
    height: 2rem;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    background: #E5E5E5;
    padding: 1em; }
  #search :placeholder-shown,
  .search :placeholder-shown {
    padding: 1em; }
  #search_icon,
  .search_icon {
    position: absolute;
    right: 0;
    margin: 0 1em;
    width: -5%; }
  #search_buttons,
  .search_buttons {
    margin: 1em 0; }
    #search_buttons button,
    .search_buttons button {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      position: relative;
      background-color: #3282f7;
      border-radius: 5px;
      color: white;
      border: none;
      height: 2rem;
      width: 6rem;
      cursor: pointer; }
      #search_buttons button.close,
      .search_buttons button.close {
        position: absolute;
        right: 0; }
    #search_buttons .center,
    .search_buttons .center {
      position: absolute;
      right: 0; }

.filter {
  margin: 1em 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .filter__dropdown {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 2em;
    border-radius: 5px;
    color: white;
    border: none;
    height: 4rem;
    width: 10rem;
    cursor: pointer;
    background-color: #3282f7;
    position: relative; }
    .filter__dropdown img {
      position: absolute;
      right: 1em;
      top: 50%;
      bottom: 50%;
      transform: translate(-50%, -50%); }
    .filter__dropdown ul li span {
      padding: 0 1em; }

/** @format */
.recipes__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap; }
  .recipes__container .card {
    margin: 1em 0;
    border: none;
    border-radius: 0 0 5px 5px;
    background-color: #e7e7e7;
    width: 380px;
    height: 380px; }
    .recipes__container .card .img {
      border-radius: 5px 5px 0 0;
      width: auto;
      height: 180px;
      background-color: #c7bebe; }
    .recipes__container .card .row {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between; }
      .recipes__container .card .row .icon {
        display: flex;
        flex-direction: row;
        align-items: center; }
      .recipes__container .card .row .col {
        margin: 0 1em;
        font-family: "Lato", sans-serif; }
        .recipes__container .card .row .col img {
          margin: 0.5em; }
        .recipes__container .card .row .col .time {
          font-weight: 700; }
    .recipes__container .card .small {
      font-weight: 400; }
    .recipes__container .card .ingredients {
      font-size: 12px;
      line-height: 14px; }
      .recipes__container .card .ingredients .ingredient {
        line-height: 1.3em; }
        .recipes__container .card .ingredients .ingredient b {
          font-weight: 700; }
    .recipes__container .card .row_ingredients {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 1em; }
      .recipes__container .card .row_ingredients p {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 12px;
        margin: 0 0 0 1em;
        overflow: hidden;
        width: 180px;
        height: 125px;
        display: -webkit-box;
        -webkit-line-clamp: 9;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis; }
