/** @format */

.recipes__container {
  display: flex;
  align-items: center;
  @media screen and (max-width: 768px) {
    justify-content: center;
  }

  .error {
    margin: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    color: #fff;
    background-color: #f44336;
    border-radius: 5px;
    padding: 1rem;
  }
    
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;

  & .card {
    margin: 1em 0;
    border: none;
    border-radius: 0 0 5px 5px;
    background-color: #e7e7e7;

    width: 380px;
    height: 380px;

    & .img {
      width: 100%;
      border-radius: 5px 5px 0 0;
      height: 180px;
      background-color: #c7bebe;
    }

    & .row {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      & .icon {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
      & .col {
        margin: 0 1em;
        font-family: "Lato", sans-serif;

        & img {
          margin: 0.5em;
        }

        & .time {
          font-weight: 700;
        }
      }
    }

    .small {
      font-weight: 400;
    }
    .ingredients {
      
      font-size: 12px;
      line-height: 14px;

      & .ingredient {
       line-height: 1.3em;

        b {
          font-weight: 700;
        }

      }
    }

    & .row_ingredients {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 1em;

      & p {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 12px;
        margin: 0 0 0 1em;
        overflow: hidden;
        width: 180px;
        height: 125px;
        display: -webkit-box;
        -webkit-line-clamp: 9;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
      }
    }
  }
}
