.filter__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;


  .filter {
    width: auto;
    margin: 1em 1em 0 0;

    &__dropdown {
      @include dropdown;
      position: relative;

      input {
        height: 5em;
        min-height: 4em;
        width: -webkit-fill-available;
        background: none;
        border: none;
        color: white;
        position: relative;
      }

      ::placeholder {
        color: white;
        opacity: 1;
      }

      :focus {
        outline: none;
      }

      & img {
        position: absolute;
        right: 0;
        top: 50%;
        bottom: 50%;
        transform: translate(-50%, -50%);
      }

      &__icon {
        &__up {
          display: none;
        }
      }

      & ul {
        display: none;
        & li {
          display: none;
        }
      }
    }

    &.selected {
      .filter__dropdown {
        @media screen and (min-width: 768px) {
          display: block;
          width: 25em;
        }

        // display: flex;

        &__icon__down {
          display: none;
        }

        &__icon__up {
          display: block;
        }
      }

      & ul {
        // background-color: $bleu-btn;
        border-radius: 0 0 5px 5px;
        position: absolute;
        top: 95%;

        @media screen and (min-width: 768px) {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
        }


        & li {
          padding-left: 0.5em;
          margin: 0.4em;
          display: block;
          border: none;
          color: white;
          text-transform: capitalize;
        }
      }
    }
  }
}

.filter__dropdown__list {
  overflow-y: scroll;
  background-color: #68D9A4;
  width: 100%;
  max-height: 200px;
  z-index: 2;
  
}
::-webkit-scrollbar {
  border-radius: 20px;
  background-color: #bdbaba;
  scrollbar-width: thin;
}



#filter__dropdown__input__ingredients {
  background-color: $bleu-btn;
  border-radius: 5px;
}

#filter__ingredients>div>ul {
  background-color: $bleu-btn;
}

#filter__ingredients>div>ul>li {
  background-color: $bleu-btn;
}

#filter__dropdown__input__appliances {
  background-color: #68D9A4;
  border-radius: 5px;
}

#filter__appliances>div>ul {
  background-color: #68D9A4;
}

#filter__appliances>div>ul>li {
  background-color: #68D9A4;
}

#filter__dropdown__input__ustensils {
  background-color: #ED6454;
  border-radius: 5px;
}

#filter__ustensils>div>ul {
  background-color: #ED6454;
}

#filter__ustensils>div>ul>li {
  background-color: #ED6454;
}