/** @format */

.filter__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  @media screen and (min-width: 768px) {
    width: 50%;
  }

  .filter {
    margin: 1em 0;

    &__dropdown {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-right: 2em;
      @include dropdown;
      background-color: $bleu-btn;
      position: relative;

      input {
        background: none !important;
        border: none !important;
        color: white;
        position: relative;
      }

      ::placeholder {
        color: white;
        opacity: 1;
      }
      :focus {
        outline: none;
      }

      & img {
        position: absolute;
        right: 1em;
        top: 50%;
        bottom: 50%;
        transform: translate(-50%, -50%);
      }

      &__icon {
        &__up {
          display: none;
        }
      }

      & ul {
        & li {
          display: none;
        }
      }
    }
    &.selected {
      width: 100%;
      .filter__dropdown {
        width: 100%;
        &__icon__down {
          display: none;
        }

        &__icon__up {
          display: block;
        }
      }

      & ul {
        background-color: $bleu-btn;
        border-radius: 0 0 5px 5px;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        position: absolute;
        top: 95%;
        

        & li {
          padding-left: .5em;
          margin: .4em;
          display: block;
          width: 30%;
          border: none;
          animation: b 0.3s linear forwards;
          color: white;
          background-color: $bleu-btn;

          @keyframes b {
            0% {
              background: transparent;
            }
            94% {
              background: $bleu-btn;
            }
          }
        }
      }
    }
  }
}
