/** @format */

#header {
  padding: 10px 16px;
  color: #f1f1f1;
  flex-direction: column;


  h2 {
    font-size: 36px;
    font-weight: 700;
    color: $primary;
    font-family: DM Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: center;
  }
}
